{% extends "menu/base.html" %}

{% block content %}
    <div class="hero-content">
      <h1>Добро пожаловать в Reness</h1>
      <p>В нашем ресторане мы стремимся создать уникальный опыт для каждого гостя. Наша команда поваров использует только лучшие ингредиенты и традиционные рецепты, чтобы предложить вам изысканные блюда. Мы верим, что еда — это не просто питание, а способ объединить людей и создать незабываемые воспоминания. Присоединяйтесь к нам для незабываемого вечера в теплом и дружелюбном окружении.</p>
      <button type="button"><a href="{% url 'menu' %}">Меню</a></button>
    </div>
{% endblock %}